.hero-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  row-gap: 20px;
  width: 80%;
  text-align: left;
  padding-top: 25px;

  .hero-text-primary {
    font-size: 1.7rem;
  }

  .hero-text-secondary {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
