.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 1.2rem;
  color: #bfcc94;
  border: 2px solid #bfcc94;
  padding: 5px 10px;
  background-color: transparent;
}
