.App-header {
  border-bottom: 2px solid #fff;
  // background-color: #282c34;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  padding: 0 5%;
  font-weight: 600;

  #logo {
    // border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #nav-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
