.footer {
  border: 1px solid red;
  // height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  // background-color: rgb(255, 87, 34);
  // color: #fafafa;
}
