.contactInfoWrapper {
  //   border: 1px solid red;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;

  .contactInfoIcon {
    // border: 1px solid red;
    margin: 0.5rem 0;
    font-size: 2rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contactInfoWrapper {
    //   border: 1px solid red;

    .contactInfoIcon {
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contactInfoWrapper {
    width: 40%;

    .contactInfoIcon {
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
