.contactInfoListWrapper {
  // border: 1px solid blue;

  .contactInfoListHeader {
    // border: 1px solid red;
    padding: 0.5rem 0;
  }

  .contactInfoList {
    // border: 1px solid red;
    justify-content: center;

    .contactInfoListItem {
      //   border: 1px solid red;
      padding: 0.25rem 0;
    }
  }
}
