.App {
  text-align: center;
  background: url("../public/hero/HZDWP10_1440x2560.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-main {
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
